.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0 16px;
}

.homeNsearch {
    display: flex;

}

.logo,
.homeBtn {
    color: #fff;
    text-decoration: none;
}