.playlistSideContainer {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-w, 400px);
    height: 100%;
    /* background-color: blueviolet; */
    transition: width 200ms ease;
    overflow: hidden;

}

.playlistSideContainer[data-collapsed="true"] {
    --sidebar-w: 72px;
    display: flex;
    flex-direction: column;
}

.playlistSideContainer[data-collapsed="true"]>.plsHeader {
    display: flex;
    flex-direction: column;
}

.playlistSideContainer[data-collapsed="true"]>.playlistList>.playlistItemLink {
    display: flex;
    justify-content: center;
}

.plsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionWrapper {
    position: relative;
    width: 200px;
}

.plsTitle {
    padding: 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: white;
}

.optionDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.option {
    padding: 12px;
    cursor: pointer;
}

.option:hover {
    background-color: #f5f5f5;
}